{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}

<div class="container-fluid concert_image" id="home_accueil" alt="Responsive image">
 <img src="{{ asset('build/images/concert.jpg') }}" style="width:30%"  alt="home">
</div>
{% endblock %}
