{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}
{% block body %}
{# //<img class="img-fluid concert_image" src="{{ asset('build/images/home.jpg') }}"  alt="home">  #}
<div class="container-fluid home_image" id="home" alt="Responsive image">
 <div class="fleche"> 
 <a href="{{ path ('app_home_accueil') }}">
<img class="img-fluid" src="{{ asset('build/images/fleche.png') }}" style="width:10%" alt="fleche">
</a> 
</div>
</div> 

{% endblock %}
