<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse titles_navbar row" id="navbarNav">
    <ul class="navbar-nav justify-content-around">
      <li class="nav-item active ">
        <a class="nav-link" href="#">PRESENTATION <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path ('app_program_index') }}">PROGRAMMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path ('app_band_index') }}">GROUPES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">USER</a>
      </li>
    </ul>
  </div>
</nav>