footer {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
  }

  .footer-menu {
    background-color: rgb(145, 135, 135);
    padding: 1.5rem 0;

    ul {
      justify-content: space-around;
      li {
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  .social-networks-menu {
    display: flex;
    background-color: green;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: none;

    ul {
      background-color: aqua;
      flex-direction: column;
      padding: 1.5rem 0;

      li {
        background-color: black;
        a {
          &.icon-link {
            background-color: aliceblue;
          }

          &.footer-link {
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: yellow;
    p {
      margin: 0;
    }
  }
}
