{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit User Password Page'|trans }}{% endblock %}

{% block body %}
  <div id='edit-user-password-page'>
    {{ form(form) }}
  </div>
{% endblock %}